html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

:root {
    --primary-text: #000000;
    --secondary-text: #ffffff;
    --primary-color: #ff8902;
    --secondary-color: #ffffff;
}